<div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-6 d-flex flex-column">
        <button class="btn btn-success mt-3" (click)="runCode()">Run</button>
        <ngx-monaco-editor 
          [options]="editorOptions" 
          [(ngModel)]="code" 
          style="flex-grow: 1;">
        </ngx-monaco-editor>
      </div>
  
      <div class="col-md-6 d-flex align-items-end" style="background-color: #1e1e1e; padding: 20px;">
        <h2 class="text-white mb-0">Output Area</h2> <!-- Placeholder for output -->
      </div>
    </div>
  </div>
  